.card-container {
  width: 230px;
  border: solid 1px #3cb575;
}

.card-header {
  background-color: #3cb050;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  border-bottom: solid 1px #3cb575;
}

.card-content {
  height: 250px;
  padding: 30px 5px 30px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-content p:first-of-type {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 0;
}

.card-content p:last-of-type {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-content {
    height: 350px;
    padding: 30px 15px 30px 15px;
  }

  .card-content img {
    width: 100px;
  }

  .card-content p:first-of-type {
    font-size: 34px;
  }

  .card-content p:last-of-type {
    font-size: 28px;
  }

  .card-header p {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
  }
}
