.App {
  height: 100vh;
  flex: 0 1 690px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 125px;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type='text'] {
  border: solid 1px #3cba9d;
  padding-left: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  appearance: none;
}

select {
  background: #3cba9d;
  cursor: pointer;
  width: 130px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0 20px 0 12px;
  color: #fff;
  text-indent: 0.01px;
  text-overflow: '';
  border-style: none;
  border-radius: 10px;
}

input[type='submit'] {
  background-color: #3cba9d;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 130px;
  height: 35px;
  border-style: none;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #797775;
}

.loading-img {
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .App {
    flex: 1 0 100%;
    padding: 25px 25px 0 25px;
  }

  input,
  select {
    margin-bottom: 10px;
  }

  input[type='text'] {
    height: 35px;
  }

  .header {
    flex-direction: column;
  }

  .loading-img {
    width: 100%;
  }
}
